.clouds-bg {
    position: absolute;
    height: 30vh;
    background-image: url('../../images/cloud-bg.png');
    width: 80%;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 0;
    margin-top: 25px;
    right: 10px;
}

.stats-container {
    position: relative;
    height: 95vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    background: skyblue;
}

.title-blk--stats {
    background: #58b368;
}

.stats {
    z-index: 1;
}

.stats-detail-container {
    color: white;
    background-image: url('../../images/soil-bg.png');
    background-size: contain;
    min-height: 100vh;
    max-height: auto;
}

.stats-goals {
    margin-top: 10px;
}

.stats-detail-container button {
    border-radius: 5px;
}

.stats-detail-container p {
    margin-bottom: 0;
    font-weight: 300;
}

.stats-title-blk {
    justify-content: space-between;
    align-items:center;
    color: white;
    width: 100vw;
    padding:5px 15px;
}

.title-blk p {
    margin:0;
    font-size: 18px;
    font-weight: 300;
}

.stats-title-blk--goal {
    background: #009975;
}

.goal-nav {
    display: flex;
    justify-content: flex-end;
}

.goal-nav__btn {
    margin: 2px 5px;
}

.stats-rabbit {
    min-width: 50px;
    width: 10vw;
    vertical-align: bottom;
}

.overall-stats-container {
    display: flex;
    align-items: flex-end;
    height: 22vh;
    background-image: url('../../images/underground-bg.png');
}

.stats-goals, .overall-stats-tile {
    width:100%;
    padding: 0 5vh;
}

@media only screen and (min-device-width : 600px) {

    .stats-container,
    .stats-detail-container {
        max-width: 768px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .stats-container p {
        font-size: 1rem;
    }

    .stats-goals, .overall-stats-tile {
        width:100%;
        padding: 0 10vh;
    }

    .goal-complete img {
        min-width: 25px;
        min-height: 25px;
        width: 3vw;
        height: 3vw;
    }

}

@media only screen and (min-device-width : 768px) {

    .title-bar__btn {
        width: 25px;
        height: 25px;
        font-size: 2.5rem;
    }
}

@media only screen and (min-width: 1200px) {
    .stats-container,
    .stats-detail-container {
        max-width: 920px;
    }
}