.stats-container {
    height: 90vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    background: skyblue;
}

.stats-detail-container {
    color: white;
    background-image: url('../../images/soil-bg.png');
    background-size: contain;
    min-height: 100vh;
    max-height: auto;
}

.stats-detail-container p {
    margin-bottom: 0;
    font-weight: 300;
}

.stats-title-blk {
    justify-content: space-between;
    align-items:center;
    color: white;
    width: 100vw;
    padding:5px 15px;
}

.title-blk p {
    margin:0;
    font-size: 18px;
    font-weight: 300;
}

.stats-title-blk--goal {
    background: #009975;
}

.goal-nav {
    display: flex;
    justify-content: flex-end;
}

.goal-nav__btn {
    margin: 2px 5px;
}

.overall-stats-container {
    height: 30vh;
    background-image: url('../../images/underground-bg.png');
}