::root{
    --nav-link-color: none;
}

.navBar-container {
    background: #454D66;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    height: 10vh;
    z-index: 2;
    background: #454D66;
  }

  .navBar-title {
      order: 0;
      font-weight: 700;
      color: white;
      display: flex;
      align-items: baseline;
  }

  .navBar-title__title {
      margin-bottom: 0;
      font-size: 2rem;
  }

  .navBar-title__logo{
    width: 40px;
  }

  .navBar button {
      color: white;
      font-size: 2rem;
  }

  .navBar__menu {
      position: absolute;
      top: 110%;
      padding: 0.5rem 0.5rem 0.5rem 0;
      background-image: url('../../images/carrot-pattern.png');
      border-radius: 80% 80% 100% 100% / 50% 50% 150% 150%;
      height: 120vw;
      width: 60vw;
      display:flex;
      justify-content: flex-end;
      align-items: center;
      z-index: 5;
  }
  
  .navBar__menu ul {
      padding: 0 10px;
      margin-right: 50%;
  }

  .navBar__menu li {
    text-align:right;
    margin-bottom: 15px;
}

  .navBar__menu a {
      color: white;
      text-decoration: none;
  }

  .navBar__menu a.link-home,
  .navBar__menu a.link-stats,
  .navBar__menu a.link-settings{
      color: #935015;
  }

button.log-out{
      font-size: 1rem;
      padding: 0;
  }

  .navBar__menu a:hover,
  .navBar__menu button:hover {
      color: slategrey;
      text-decoration: none;
  }

  .navBar__menu.open {
    right: -30vw;
    transition: right 500ms ease-out;
    z-index: 5;
  }

  .navBar__menu.closed {
      right: -60vw;
      transition: right 500ms ease-in;
  }

  .navBar__menu--spread a.link-active {
    border-radius: 10px 10px 0 0;
    padding: 5px;
    transition: background 500ms ease-out 1000ms;      
}

.navBar__menu--spread a.link-active.link-home {
    background: var(--nav-link-color); 
}

.navBar__menu--spread a.link-active.link-stats {
  background: #58b368;
}

.navBar__menu--spread a.link-active.link-settings {
  background: #363B48;
}

  @media only screen and (min-device-width : 600px) {
    .my-container {
        max-width: auto;
        padding-left: 25px;
        padding-right: 25px;
        margin: 0 auto;
    }

    .navBar-title__title {
        font-size: 3rem;
    }
     
    .navBar-title__logo{
        width: 60px;
      }
  
   }

@media only screen and (min-device-width : 768px) {
    .navBar{
        max-width:768px;
        margin: 0 auto;
    }
    .navBar__menu--spread {
        width: 350px;
    }
    .navBar__menu--spread ul {
        display:flex;
        justify-content: space-between;
    }

    .navBar__menu--spread a, button {
        color: white;
    }

    .navBar__menu--spread a:hover,
    .navBar__menu--spread button:hover {
        text-decoration: none;
        color: #d8a3ff;
    }
}

@media only screen and (min-width: 1200px) {
    .navBar{
        max-width: 920px;
    } 
}