::root{
    --nav-link-color: white;
}

.navBar-container {
    background: #454D66;
    width: 100vw;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    height: 10vh;
  }

  .navBar-title {
      order: 0;
      font-family: 'Nunito';
      font-weight: 700;
      color: white;
      display: flex;
      align-items: baseline;
  }

  .navBar-title__title {
      margin-bottom: 0;
      font-size: 2rem;
  }

  .navBar-title__logo{
    width: 40px;
  }

  .navBar button {
      color: white;
      font-size: 2rem;
  }

  .navBar__menu {
      position: absolute;
      top: 100%;
      padding: 0.5rem 0.5rem 0.5rem 0;
      background: #454D66;
      z-index: 5;
  }
  
  .navBar__menu ul {
      padding: 0 10px;
  }

  .navBar__menu a {
      color: white;
      text-decoration: none;
  }

  .navBar__menu--spread a.link-active {
      border-radius: 10px 10px 0 0;
      padding: 5px;      
  }

  .navBar__menu--spread a.link-active.link-home {
      background: #009975;
  }

  .navBar__menu--spread a.link-active.link-stats {
    background: #58b368;
}

.navBar__menu--spread a.link-active.link-settings {
    background: #363B48;
}

button.log-out{
      font-size: 1rem;
      padding: 0;
  }

  .navBar__menu a:hover,
  .navBar__menu button:hover {
      color: slategrey;
      text-decoration: none;
  }

  .navBar__menu.open {
    right: 0;
    transition: right 500ms ease-out;
    z-index: 5;
  }

  .navBar__menu.closed {
      right: -40vw;
      transition: right 500ms ease-in;
  }

  @media only screen and (min-device-width : 600px) {
    .my-container {
        max-width: auto;
        padding-left: 25px;
        padding-right: 25px;
        margin: 0 auto;
    }


    .navBar-title__title {
        font-size: 3rem;
    }
     
    .navBar-title__logo{
        width: 60px;
      }

   
   
   }

@media only screen and (min-device-width : 768px) {
    .navBar{
        max-width:768px;
        margin: 0 auto;
    }
    .navBar__menu--spread {
        width: 350px;
    }
    .navBar__menu--spread ul {
        display:flex;
        justify-content: space-between;
    }

    .navBar__menu--spread a, button {
        color: white;
    }

    .navBar__menu--spread a:hover,
    .navBar__menu--spread button:hover {
        text-decoration: none;
        color: #d8a3ff;
    }
}

@media only screen and (min-width: 992px) {

    
}

@media only screen and (min-width: 1200px) {
    .navBar{
        min-width: 920px;
    } 
}