:root {
    --rabbit-x: 0;
}

.home {
    color: white;
}

.home button {
    border-radius: 5px;
    padding: 3px 5px;
    margin: 3px;
}

.goal-container {
    position: relative;
}

.title-blk--progress {
    background: #009975;
    /* color: #D9D872; */
}

.title-blk__prog-title {
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

button.add-goal {
    font-size: 15px;
    color: #009975;
    background: #D9D872;
}

.upcoming-runs {
    position: relative;
}

.title-blk {
    width: 100vw;
    padding:5px 15px;
}

.title-blk__title {
    margin:0;
    font-size: 16px;
    font-weight: 300;
}

.title-blk--upcoming-runs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #58B368;
}

.title-blk--completed-runs {
    background: #D9D872;
}

.title-bar__add-run {
    background: #D9D872;
    color: #009975;
    padding: 0 5px;
}

.visual-progress{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.start-pos {
    position: absolute;
    left: 15px;
    bottom: -3vh;
}

.rabbit-percent {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    left: 15px;
    bottom: 0;
    transform: translateX(var(--rabbit-x));
}

.rabbit-percent p {
    color: white;
    font-weight: 300;
    margin: -2px;
}

.rabbit-percent__rabbit {
    height: 7vw;
    width: 7vw;
}

.tree-goal{
    position: relative;
}

.tree-goal__goal {
    position: absolute;
    top: 10px;
    right: 15px;
    font-weight: 300;
    background: rgba(0,0,0,0.5);
    border-radius: 5px;
}

.tree-goal__tree {
    height: 25vw;
    width: 25vw;
}

.goal-container {
    background-image: url('../../images/forest-bg.png');
    background-size: cover;
    padding-top: 10px;
}

.completed-runs__tiles {
    padding: 2vh 0;
}