.format-run,
.format-goal {
    min-height: 100vh;
    max-height: 200vh;
    background: #5A5777;
    padding-bottom: 10px;
    color: white;
}

.format-run p,.format-run label,
.format-goal p, .format-goal label,
.tile-blk h6 {
    font-weight: 300;
}

label {
    display: block;
}

.tile-blk {
    padding: 0.5rem;
    margin: 2vh 0;
    background: rgba(0,0,0,0.6);
    border-radius: 5px;
    color: white;
}

.tile-blk p {
    font-weight: 300;
    margin-bottom: 5px;
}

.tile-blk__title-bar {
    display:flex;
    margin: 0;
    color: white;
}

.tile-blk__title-bar--run {
    justify-content: space-between;
    align-items:center;
}

.tile-blk__title-bar h5,
.tile-blk__title-bar h6 {
    height: 20px;
    margin-bottom: 0;
}

.title-bar__tile-btns {
    display: flex;
    align-items: center;
}

.title-bar__btn {
    display: inline-block;
    min-width: 20px;
    min-height: 20px;
    margin: 5px 10px;
    padding: 3px;
    font-size: 2rem;
    color: white;
    line-height: 0.5;
    opacity: 0.7;
}

.title-bar__btn.edit {
    background-image: url('../../images/edit.png');
    background-size:cover;
}

.tile-blk__body {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.tile-blk__body a button {
    height: 5vh;
    white-space: nowrap;
    line-height: 0.5;
    align-self: flex-end;
}

.tile-blk--goal {
    display: flex;
    flex-direction: column;
}

.tile-blk__title-bar--goal {
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 5px;
}

.upcoming-runs__tiles, .completed-runs__tiles {
    padding: 10px 25px;
}

.rating-radio img {
    margin-bottom: 5px;
}

.stat-card {
    background: rgba(0,0,0,0.6);
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.stat-card__stats-data p{
    font-weight: 300;
    margin-bottom: 0;
}

.stat-card__goal{
    justify-content: space-between;
    align-items:center;
    font-size: 12px;
    width: 100%;
}

.stat-card__goal p{
    margin: 0;
    white-space: nowrap;
}

.goal-complete img {
    width: 5vw;
    height: 5vw;
}

.my-container {
    max-width: auto;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0 auto;
}

@media only screen and (min-device-width : 600px) {
    .format-run, .format-goal {
       max-width: 768px;
       width: 100%;
       margin-right: auto;
       margin-left: auto;
    }

    div h5, .title-blk__title {
        font-size: 1.5rem;
    }

    .format-run, .format-goal {
        padding-top: 10px;
    }

    .format-run p,
    .format-goal p {
        font-size: 1.2rem;
        margin:10px 0;
    }

.upcoming-runs__tiles, .completed-runs__tiles {
    padding: 10px 25px;
}


}

@media only screen and (min-device-width : 768px) {
    .title-bar__btn {
        width: 25px;
        height: 25px;
        font-size: 2.5rem;
    }
}

@media only screen and (min-width: 1200px) {
    .format-goal, .format-run {
        max-width: 920px;
    }
}